<!DOCTYPE html>
<html lang="zh-CN" class="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{{.Title}}" />
        <meta name="renderer" content="webkit" />
        <meta name="referrer" content="never" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="preload stylesheet" href="//registry.npmmirror.com/weui/2.6.22/files/dist/style/weui.min.css" as="style">
        <script src="//registry.npmmirror.com/jquery/3.7.1/files/dist/jquery.min.js"></script>
        <script src="//registry.npmmirror.com/dplayer/1.27.1/files/dist/DPlayer.min.js"></script>
        <script src="/static/main.20250205.js?v=1.2"></script>
        <style type="text/css">
            .placeholder {
            margin: 5px;
            padding: 0 10px;
            background-color: var(--weui-BG-1);
            height: 2.3em;
            line-height: 2.3;
            text-align: center;
            color: var(--weui-FG-1);
            }
            </style>
            <title>{{.Title}}</title>
        </head>
        <body>
            <br>
            <br>
            <div class="weui-form__text-area">
                <h2 class="weui-form__title">{{.Title}}</h2>
        </div>
            <div id="all">
                <div class="page__bd page__bd_spacing">
                    <div class="weui-flex">
                        <div class="weui-flex__item" id = "tablab">
                            <div class="weui-flex__item" style="display: inline-block; margin-right: 5px;">
                                <div class="placeholder">
                                    <a href="javascript:openDir('%2F');" role="button" class="weui-btn weui-btn_mini weui-btn_primary weui-wa-hotarea" title="全部文件">全部文件</a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__hd">文件列表</div> 
                    </div>
                    <div class="weui-cells" id="filelist">
                    </div> 
                </div>
            </div> 
            <div role="alert" class="weui-toptips weui-toptips_warn" id="error">errorinfo</div>
            <div role="alert" id="loading" style="display: none;">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                <span class="weui-primary-loading weui-icon_toast">
                <span class="weui-primary-loading__dot"></span>
                </span>
                <p class="weui-toast__content" id="loadinginfo">loadinginfo</p>
                </div>
            </div>
            <div role="alert" id="warn" style="display: none;">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                <i class="weui-icon-warn weui-icon_toast"></i>
                <p class="weui-toast__content" id="warninfo">warninfo</p>
                </div>
            </div>
            <div role="alert" id="ok" style="display: none;">
                <div class="weui-mask_transparent"></div>
                <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content" id="okinfo">okinfo</p>
            </div>
        </div>
        <div id='meueid' value hidden></div>
        <div id='meue' style="display: none;">
            <div class="weui-mask" id="iosMask" style="opacity: 1;" wah-hotarea="click"></div>
            <div role="dialog" aria-modal="true" tabindex="0" aria-hidden="false" class="weui-actionsheet weui-actionsheet_toggle" id="iosActionsheet">
                <div class="weui-actionsheet__title">
                    <p class="weui-actionsheet__title-text">选项</p>
                </div>
                <div class="weui-actionsheet__menu">
                    <div id="dlink" tabindex="0" role="button" class="weui-actionsheet__cell">
                    <a href="javascript:getDlink();" role="button" class="weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea">获取下载地址</a>
                    </div>
                    <div id="download" tabindex="0" role="button" class="weui-actionsheet__cell">
                    <a href="javascript:getDlink('download');" role="button" class="weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea">直接下载</a>
                    </div>
                    <div id="aria2cdown" tabindex="0" role="button" class="weui-actionsheet__cell">
                    <a href="javascript:getDlink('aria2c');" role="button" class="weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea">发送到aria2c</a>
                    </div>
                    <div id="moritxdown" tabindex="0" role="button" class="weui-actionsheet__cell">
                    <a href="javascript:getDlink('mo');" role="button" class="weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea">发送到Moritx</a>
                    </div>
                    <div id="player" tabindex="0" role="button" class="weui-actionsheet__cell" style="display: none;">
                    <a href="javascript:player();" role="button" class="weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea">预览文件</a>
                    <a id="potplayer" style="display: none;" href="javascript:getDlink('pot');" role="button" class="weui-btn weui-btn_mini weui-btn_default weui-wa-hotarea">在PotPlayer中播放</a>
                    </div>
                <div class="weui-actionsheet__action">
                    <div role="button" tabindex="0" class="weui-actionsheet__cell" id="iosActionsheetCancel" wah-hotarea="click">
                    <a href="javascript:$('#meue').fadeOut(100);" role="button" class="weui-btn weui-btn_primary">取消</a>
                    </div>
                </div>
                </div>
            </div>
        </div> 
        <div style="display: none;" class="weui-mask" role="dialog" aria-labelledby="galleryImg" aria-hidden="false" aria-modal="true" id="gallery">
                <div id='playerinfo' style='position:inherit;width:100%;height:90%'>
                null
                </div>
            <div style="background-color:rgba(0,0,0,.6);opacity: 1;bottom:0;position:absolute;left:0;right:0">
                <a href="javascript:closeplayer();" role="button" class="weui-btn ">关闭</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="weui-footer">
                <p class="weui-footer__text">{{.Foot}}</p>
                <p class="weui-footer__text">Copyright © 2019-2025 MoGuQAQ Powered By KinhWeb {{.Version}} with Weui</p>
            </div>      
        </body>
    </html>
